<hr>
<h3 style="text-align: center;">featured work</h3>

<div class="row">

<!--Item Left-->

  <div class="col-sm-4 mt-2">
    <div class="card">
      <img src="{{ '/img/online.png' | relative_url }}" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">organist | candice wuehle</h5>
      <p class="card-text"><em>vince, i could see the world without its edges. / i placed an empty woolen glove / across my naked lap not to remind anyone / of being handled, but to remind them of bonelessness.</em></p>
        <div class="text-center">  
          <a href="#" class="btn">read</a>
        </div>
      </div>
    </div>
  </div>

<!--Item Center-->

  <div class="col-sm-4 mt-2">
    <div class="card">
      <img src="{{ '/img/skyscraper.jpg' | relative_url }}" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">story | author name</h5>
      <p class="card-text"><em>Some quick example text to build on the card title and make up the bulk of the card's content.</em></p>
        <div class="text-center">  
          <a href="#" class="btn">read</a>
        </div>    
      </div>
    </div>
  </div>

<!--Item Right-->

  <div class="col-sm-4 mt-2">
    <div class="card">
      <img src="{{ '/img/cell1colored.png' | relative_url }}" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">story | author name</h5>
      <p class="card-text"><em>Some quick example text to build on the card title and make up the bulk of the card's content.</em></p>
        <div class="text-center">  
          <a href="#" class="btn">read</a>
        </div>
      </div>
    </div>
  </div>

</div>